
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container mt-2">
    <h4 class="p-5 text-center">Admin portal</h4>

    <div class="row">


        <a href="/Bill" class="col-md-3 col-sm-6 item">
            <div class="card item-card cursor-pointer card-block p-2 pointer-event">
                <h5 class="item-card-title text-center p-1">Bills</h5>
                <p class=" text-center">0</p>
                <p class="text-center">Click here to pay</p>
            </div>
        </a>



        <a href="/User" class="col-md-3 col-sm-6 item">
            <div class="card item-card cursor-pointer card-block p-2 pointer-event">
                <h5 class="item-card-title text-center p-1">Agents</h5>
                <p class=" text-center">0</p>
                <p class="text-center">Click here to pay</p>
            </div>
        </a>




        <a href="/User" class="col-md-3 col-sm-6 item">
            <div class="card item-card cursor-pointer card-block p-2 pointer-event">
                <h5 class="item-card-title text-center p-1">Customers</h5>
                <p class=" text-center">0</p>
                <p class="text-center">Click here to pay</p>
            </div>
        </a>



        <a href="/Query" class="col-md-3 col-sm-6 item">
            <div class="card item-card cursor-pointer card-block p-2 pointer-event">
                <h5 class="item-card-title text-center p-1">Customer Queries</h5>
                <p class=" text-center">0</p>
                <p class="text-center">Click here to pay</p>
            </div>
        </a>


        <a href="/Settings" class="col-md-3 col-sm-6 item">
            <div class="card item-card cursor-pointer card-block p-2 pointer-event">
                <h5 class="item-card-title text-center p-1">Settings</h5>
                <p class="text-center">Click here to pay</p>
            </div>
        </a>




    </div>

</div>



