
@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container mt-2">
        <h4 class="p-5 text-center">Customer portal</h4>

        <div class="row">
            <a  href="/Bill/Create" class="col-md-3 col-sm-6 item">
                <div class="card cardhover item-card cursor-pointer card-block p-2 pointer-event">
                    <h5 class="item-card-title text-center p-1">Bills</h5>
                    <p class="text-center" >Click here to pay</p>
                </div>
            </a>

            <a  href="/Query/Create" class="col-md-3 col-sm-6 item">
                <div class="card cardhover cursor-pointer item-card card-block p-2 pointer-event"">
                    <h5 class="item-card-title  text-center p-1">Queries</h5>
                    <p class=" text-center">Click here to log a query</p>
                </div>
            </a>



        </div>

    </div>



