@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>

    </div>
</div>*@


<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1>Skip queues , pay water bill online</h1>
                <p class="lead">Proident eu nisi commodo enim deserunt enim duis sunt nostrud anim. Sunt do sit enim veniam nostrud culpa adipisicing do ullamco occaecat et. </p>
                <p><a href="#" class="btn btn-primary shadow mr-2">Pay now</a></p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2"><img src="./images/bg.jpg" alt="..." class="img-fluid"></div>
        </div>
    </div>
</section>