@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Admin"))
            {

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListUsers">Manage Users</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">Manage Roles</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Query" asp-action="Index">Queries</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index">Bills</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Charges</a>
                </li>    
                
                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="QueryTypes" asp-action="Index">Query Types</a>
                </li>
            }


            if (User.IsInRole("Agent"))
            {

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Agent">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Query" asp-action="Index">Manage Queries</a>
                </li>
            }




            if (User.IsInRole("Customer"))
            {

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Customer">My Dashboard</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index">My Bills</a>
                </li>

                <li class="nav-item">
                    <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Query" asp-action="Index">My Queries</a>
                </li>
            }



            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Profile">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>

            </li>
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>

            </li>
        }
    </ul>
