@model IEnumerable<WaterBillAppCore.Models.Vat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vat config</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VatPercetage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VatPercetage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SettingId">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
